@font-face {
    src: url('../fonts/Circe/Circe-Regular.ttf');
    font-family: 'Circe';
}

@font-face {
    src: url('../fonts/Gilam/Gilam-Regular.ttf');
    font-family: 'Gilam';
}

.container {
    background: #171717;
    width: 1920px;
    height: fit-content;
    padding-bottom: 239px;
}

/*Header*/

.logo {
    width: 216px;
}

.header , .contacts-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {  
    font-family: 'Circe';
    padding: 40px 230px 0;
}

.contacts {
    padding-right: 39px;
}

.number {
    font-size: 20px;
    line-height: 29px;
    font-style: normal;
    font-weight: 700;
}

.country-code {
    color: #D6AF76;
}

.button-wrapper {
    border: 1px solid #E4B564;
    padding: 10px 25px;
}

.button-icon {
    padding-right: 10px;
}

.button {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}

/*Main*/

.main {
    font-family: 'Gilam';
    font-style: normal;
    padding: 100px 230px 191px;
}

/*first section*/

.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.working-section__text {
    padding: 41px 278px 41px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.working-section__block {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 29.25rem);
    grid-gap: 30px;
    align-items: stretch;
    grid-template-areas:
         "item1 item1 item2 item2 item3 item3"
        "item4 item4 item4 item5 item5 item5";
}

.working-section__block > div {        
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.block-item1 {
    background: #634F2C;
    grid-area: item1;
    padding: 14rem 6rem;
}

.block-item2 {
    background: #B4A385;
    grid-area: item2;
    padding: 13rem 2rem;
}

.block-item3 {
    background: #E4B564;
    grid-area: item3;
    padding: 14rem 6rem;
}

.block-item4 {
    background: #635A4A;
    grid-area: item4;
    padding: 14rem 6rem;
}

.block-item5 {
    background: #B08C4D;
    grid-area: item5;
    padding: 14rem 6rem;
}

/*Second section*/

.main__construction-equipment {
    padding-top: 161px;
}

.construction-equipment__block {
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding-top: 94px;
}

.block-items-wrapper1 , .block-items-wrapper2 , .block-items-wrapper3 {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.block-items-wrapper3{
    justify-content: space-between;
}

.block-item6 {
    background: #0E0E0E;
    width: 467px;
    height: 313px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 44px 52px;
}

.block-item7 {
    background: #1F1F1F;
    width: 467px;
    height: 560px;
    padding: 56px 52px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.block-item8 {
    width: 467px;
    height: 439px;
    background: #242424;
    margin-bottom: 33px;
    padding: 44px 51px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.block-item9 {
    width: 467px;
    height: 405px;
    background: #E4B564;
    padding: 47px 52px;
    color: #000000;
}

.block-item10 {
    width: 467px;
    height: 255px;
    background: #1F1F1F;
    padding: 44px 48px;
}

.block-item11 {
    width: 467px;
    height: 313px;
    background: #0E0E0E;
    padding: 44px 48px;
}

.block-item12 {
    width: 467px;
    height: 277px;
    background: #0A0909;
    padding: 44px 48px;
}

.block-item7 , .block-item9 , .block-item10 , .block-item11 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.car , .block-item12 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

/*footer*/

.footer {
    background: #0E0E0E;
    padding: 172px 230px 0;
    font-family: 'Gilam';
    font-style: normal;
}

.project-section__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-section__button-wrapper {
    border: 1px solid #E4B564;
    padding: 10px 40px;
}

.project-section__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "project1 project2 project3"
        "project4 project5 project6";
    padding-top: 72px;
    
}

.project1 , .project6{
    width: 487px;
    height: 391px;
    background: #634F2C;
    padding: 171px 151px;
}

.project2 {
    width: 486px;
    height: 391px;
    background: #e8d2abc2;
    padding: 61px 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project2__image {
    padding-bottom: 3px;
}

.project2__text , .project2__text-decoration{
    font-family: 'Gilam';
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}

.project2__text-decoration{
    font-weight: 600;
    padding-top: 13px;
}

.project3 {
    width: 487px;
    height: 391px;
    background: #E4B564;
    padding: 174.5px 148px;
    
}

.project4 {
    width: 487px;
    height: 391px;
    background: #635A4A;
    padding: 174.5px 148px;
}

.project5 {
    width: 486px;
    height: 391px;
    background: #B08C4D;
    padding: 169px 183px;
}